[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/arafat-hasan/hugo-coder.git
[submodule "submodules/techNotes"]
	path = submodules/techNotes
	url = git@github.com:arafat-hasan/techNotes.git
[submodule "submodules/writings"]
	path = submodules/writings
	url = git@github.com:arafat-hasan/writings.git
