{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"
          class="text-primary">{{ . | title | humanize }}</a>
        {{ end }}
        <h2 class="h2 mb-3">{{ .Title | markdownify }}</h2>
        <ul class="list-inline post-meta mb-3">
          <li class="list-inline-item"><i class="ti-user mr-2"></i>{{if .Params.Author}}{{ .Params.Author }}{{else}}{{.Site.Params.Author}}{{end}}</li>
          {{ if not .Params.HideDate }}
          <li class="list-inline-item">
            <i class="ti-calendar mr-2"></i>
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML}}'>
              {{ if ne $.Language.Lang "bn" }}
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              {{ else }}
                {{ index $.Site.Data.dois (printf "%d" .Date.Day) }}{{ index $.Site.Data.dcois (printf "%d" .Date.Day) }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}, {{ index $.Site.Data.yois (printf "%d" .Date.Year) }} খ্রিষ্টাব্দ
              {{end}}
            </time>
          </li >
          {{ end }}
          <li class="list-inline-item">
            <i class="ti-timer mr-2"></i>
            {{ i18n "reading_time"  .ReadingTime}}
          </li>
        </ul>
        <figure> 
        {{ if .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        {{ if .Params.image }}
        <figcaption>{{ .Params.Image_Caption}}</figcaption>
        {{end}}
      </figure>
        <div class="content mb-5">
          {{ .Content }}
        </div>

        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}